html {
  font-size: 62.5%;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  font-weight: lighter;
}

body {
  box-sizing: border-box;
  font-family: sans-serif;
  color: #707070;
  transition: 0.5s ease-in-out;
}

.no-results {
  display: flex;
  justify-content: center;
  font-size: 3.5em;
  text-align: center;
  padding-top: 2em;
  padding-bottom: 2em;
}

hr {
  display: none;
}

.container {
  width: 90%;
  margin: 0 auto;
}

.main-container {
  margin: 0 auto;
}
.main-container .header {
  background-color: #a27aff;
}
.main-container .header .container {
  padding-top: 2.5em;
  padding-bottom: 2.5em;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.main-container .header .container h1 {
  font-size: 5.5em;
  color: #ffffff;
}
.main-container .header .container form {
  display: flex;
}
.main-container .header .container form input {
  padding-left: 10px;
  padding-right: 10px;
  height: 2.5em;
  font-size: 2em;
}
.main-container .header .container form input:focus {
  border: 3px solid #555;
}
.main-container .header .container form button {
  font-size: 2em;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 16px;
}
.main-container .content {
  padding-top: 2em;
}
.main-container .content .container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 20px;
}
.main-container .content .container .chart {
  grid-column: 7/13;
}
.main-container .content .container .symbol {
  padding-top: 20px;
  padding-bottom: 30px;
  grid-column: span 12;
  display: flex;
  justify-content: center;
}
.main-container .content .container .symbol h2 {
  font-size: 4em;
}
.main-container .content .container .data {
  grid-column: 1/6;
  display: flex;
  flex-direction: column;
  font-size: 3em;
}
.main-container .content .container .data #date {
  display: flex;
  justify-content: center;
}
.main-container .content .container .data .data-item {
  padding-bottom: 10px;
  display: flex;
  justify-content: space-between;
}

@media only screen and (max-width: 850px) {
  .main-container {
    width: 100%;
  }

  #stock-data {
    grid-column: span 12;
    display: flex;
    margin: 0 auto;
    min-width: 300px;
  }

  #dataChart {
    grid-column: span 12;
  }
}
@media only screen and (max-width: 500px) {
  .main-container {
    width: 100%;
  }
  .main-container .header .container {
    flex-direction: column;
    align-items: center;
  }
  .main-container .header .container h1 {
    padding-bottom: 20px;
  }
}